
body{
	background-color: seashell;
	
	padding: 365px;
	padding-top: 0px;
	margin-left: 30px;
	
}


p {
	color: black;
	font-family: "Open Sans Condensed";
	font-size: 20px;
	}
	

	
h1 {
	margin-left: 200px;
	color: black;
	font-family: "Open Sans Condensed";
	font-size: 70px;
	margin-bottom: 100px;

}

h3 {
	margin-left: 240px;
	color: black;
	font-family: "Open Sans Condensed";
	font-size: 30px;
	margin-bottom: 10%
}

div.relative {
	position: relative;
	bottom: 30px;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: "Open Sans Condensed";
    color: white;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: grey;
}

/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}

.center {
	display: block;
	position: relative;
	top: 150px;
}
	
	














